@model CarouselViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <environment include="Development">
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/shop-template.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/shop-template.css" />
    </environment>
}

@{
    if (Model != null && Model.Carousels != null && Model.Carousels.Count > 0)
    {
        <div id="@Model.Carousels[0].DataTarget.Substring(1, Model.Carousels[0].DataTarget.Length-1)" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                @{
                    for (int i = 0; i < Model.Carousels.Count; i++)
                    {
                        string liClass = string.Empty;
                        if (i == 0)
                        {
                            liClass = "classs=\"active\"";
                        }
                        <li data-target="@Model.Carousels[i].DataTarget" data-slide-to="@i" @Html.Raw(liClass) />
                    }
                }
            </ol>
            <div class="carousel-inner " role="listbox">
                @{
                    for (int i = 0; i < Model.Carousels.Count; i++)
                    {
                        string divClass = "item";
                        if (i == 0)
                        {
                            divClass = "item active";
                        }

                        <div class="@divClass sameHeightCarousel">
                            <img src="@Model.Carousels[i].ImageSrc" alt="@Model.Carousels[i].ImageAlt" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p>
                                    @Html.Raw(Model.Carousels[i].CarouselContent)
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
}
<div class="container">
    <div class="row">
        <div class="">
            <div class="row">
                <div class="">
                    <h1 class="my-4 text-center">Products</h1>
                    <div class="list-group col-md-offset-4 col-md-4 text-center">
                        <a href="#" class="list-group-item col-md-4">Cat. 1</a>
                        <a href="#" class="list-group-item col-md-4">Cat. 2</a>
                        <a href="#" class="list-group-item col-md-4">Cat. 3</a>
                        <a href="#" class="list-group-item col-md-4">Cat. 4</a>
                        <a href="#" class="list-group-item col-md-4">Cat. 5</a>
                        <a href="#" class="list-group-item col-md-4">Cat. 6</a>
                        <a href="#" class="list-group-item col-md-4">Cat. 7</a>
                        <a href="#" class="list-group-item col-md-4">Cat. 8</a>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 com-md-6 mb-4">
                    <div class="card h-100">
                        <a asp-area="" asp-controller="Products" asp-action="Detail"><img class="card-img-top img-responsive" src="http://placehold.it/700x400" alt="" /></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a asp-area="" asp-controller="Products" asp-action="Detail">Item One</a>
                            </h4>
                            <h5>$25.88</h5>
                            <p class="card-text">Lorem asdghflas fasdgf askdfgasl dgfasdf</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733;&#9733;&#9733;&#9733;&#9733;</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
