@using eshop.Areas.Admin.Models
@model Product

@{
    ViewData["Title"] = "Product detail";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Eshop bro</h1>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="@Model.ImageSrc" alt="">
                <div class="card-body">
                    <h3 class="card-title">@Model.Name</h3>
                    <h4>@Model.Price</h4>
                    <input type="button" class="btn-success" value="Buy" style="font-size:1.4em;text-align:center"
                           onclick="Buy(@Model.ID, '@Url.Action("AddOrderItemsToSession", "CustomerOrderNotCart", new { Area = "Customer" })', '#total_price', '@System.Globalization.CultureInfo.CurrentCulture.Name')" />
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                </div>

            </div>
        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

@section Scripts {
    <script src="~/js/Product.js"></script>
}