@using eshop.Areas.Admin.Controllers; 
@model Product

<div class="row">
    <form class="col-md-4" asp-action="@ViewBag.Action" method="post">
        @{
            if (ViewBag.Action == nameof(ProductController.Edit))
            {
                <input type="hidden" asp-for="@Model.ID" class="form-control">
            }
        }
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Price"></label>
            <input asp-for="@Model.Price" class="form-control" placeholder="Enter Price">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Weight"></label>
            <input asp-for="@Model.Weight" class="form-control" placeholder="Enter Weight">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Color"></label>
            <input asp-for="@Model.Color" class="form-control" placeholder="Enter Color">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>