@using eshop.Areas.Admin.Controllers;
@using eshop.Areas.Admin.Models;
@model Product

<div class="row">
    <form class="col-md-4" asp-action="@ViewBag.Action" method="post">
        @{
            if (ViewBag.Action == nameof(ProductController.Edit))
            {
                <input type="hidden" asp-for="@Model.ID" class="form-control">
            }
        }
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" placeholder="Enter Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Price"></label>
            <input asp-for="@Model.Price" class="form-control" placeholder="Enter Price">
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>