@using eshop.Areas.Admin.Models;
@model List<Product>

@{
    ViewData["Title"] = "Product Select";
    ViewBag.Action = "Select";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Selection of all products from fake DB.</h2>
<butoon><a asp-action="Create">Create product</a></butoon>

@{
    if (Model != null && Model.Count > 0)
    {
        <table class="container">
            <tr>
                <th class="col-sm-1">@Html.DisplayNameFor(model => model.FirstOrDefault().ID)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.FirstOrDefault().Price)</th>
                <th class="col-sm-1">Edit</th>
                <th class="col-sm-1">Delete</th>
            </tr>
            @{ foreach (var p in Model)
                {
                    <tr>
                        <td class="col-sm-1">@p.ID</td>
                        <td class="col-sm-2">@p.Name</td>
                        <td class="col-sm-2">@p.Price</td>
                        <th class="col-sm-1"><a asp-action="Edit" asp-route-ID="@p.ID">Edit</a></th>
                        <th class="col-sm-1"><a asp-action="Delete" asp-route-ID="@p.ID" onclick="return ConfirmDlete();">Delete</a></th>
                    </tr>
                }
            }

        </table>
    }
    else
    {
        <h2>No products are initialized.</h2>
    }
}

@section Scripts
{
    <script src="~/js/script.js"></script>
}
