@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="col-md-offset-4 col-md-4">
        <article class="card-body mx-auto">
            <form asp-action="Login" method="post">
                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        <div class="form-group">
                            <input asp-for="@Model.Username" class="form-control" placeholder="Username" type="text"><br />
                            <input asp-for="@Model.FirstName" class="form-control" placeholder="First Name" type="text"><br />
                            <input asp-for="@Model.LastName" class="form-control" placeholder="Last Name" type="text"><br />
                        </div>
                    </div>
                </div> <!-- form-group// -->
                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="@Model.Email" class="form-control" placeholder="Email address" type="email">
                </div> <!-- form-group// -->

                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">+420</option>
                        <option value="1">+421</option>
                    </select>
                    <input asp-for="@Model.LastName" class="form-control" placeholder="Phone number" type="text">
                </div> <!-- form-group// -->
                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="@Model.Password" class="form-control" placeholder="Create password" type="password">
                </div> <!-- form-group// -->
                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="@Model.RepeatedPassword" class="form-control" placeholder="Repeat password" type="password">
                </div> <!-- form-group// -->
                <div class="row-no-gutters form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div> <!-- form-group// -->
                <p>
                    <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                    <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
                </p>
                <p class="text-center">Have an account? 
                <a asp-area="Security" asp-controller="Account" asp-action="Login">
                    Log In
                    </a> 
                </p>
            </form>
        </article>
    </div> <!-- card.// -->
</div>
<!--container end.//-->