@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using eshop.Areas.Security.ViewModels 
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="col-md-offset-4 col-md-4">
        <article class="card-body mx-auto">
            <form asp-action="Register" method="post">
                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        <div class="form-group">
                            <input asp-for="@Model.Username" class="form-control" placeholder="Username" type="text">
                            <span asp-validation-for="@Model.Username" class="text-danger"></span>
                        </div>
                    </div>
                </div> <!-- form-group// -->
                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="@Model.Email" class="form-control" placeholder="Email address" type="email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div> <!-- form-group// -->

                <div class="row form-group">
                    <div class="input-group-prepend">
                    </div>
                </div> <!-- form-group// -->
                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="@Model.Password" class="form-control" placeholder="Create password" type="password">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div> <!-- form-group// -->
                <div class="row form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="@Model.RepeatedPassword" class="form-control" placeholder="Repeat password" type="password">
                    <span asp-validation-for="@Model.RepeatedPassword" class="text-danger"></span>
                </div> <!-- form-group// -->
                <div class="row-no-gutters form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div> <!-- form-group// -->
                <p class="text-center">
                    Have an account?
                    <a asp-area="Security" asp-controller="Account" asp-action="Login">
                        Log In
                    </a>
                </p>
            </form>
        </article>
    </div> <!-- card.// -->
</div>
<!--container end.//-->