@model Carousel
@{
    ViewData["Title"] = "Carousel Create";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <form class="col-md-4" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="@Model.ID"></label>
            <input asp-for="@Model.ID" class="form-control" placeholder="input ID">
        </div>
        <div class="form-group">
            <label asp-for="@Model.DataTarget"></label>
            <input asp-for="@Model.DataTarget" class="form-control" placeholder="input ID">
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageSrc"></label>
            <input asp-for="@Model.ImageSrc" class="form-control" placeholder="input ID">
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageAlt"></label>
            <input asp-for="@Model.ImageAlt" class="form-control" placeholder="input ID">
        </div>
        <div class="form-group">
            <label asp-for="@Model.CarouselContent"></label>
            <input asp-for="@Model.CarouselContent" class="form-control" placeholder="input ID">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>