@using eshop.Areas.Admin.ViewModels
@model CarouselViewModel
@{
    ViewData["Title"] = "Carousel Select";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Select all data from carousel.</p>
<a asp-action="Create">Create carousel item</a>

@{
    if (Model != null && Model.Carousels.Count > 0 && Model.Carousels != null)
    {
        <table class="container">
            <tr>
                <th class="col-sm-1">@Html.DisplayNameFor(model => model.Carousels[0].ID)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Carousels[0].DataTarget)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Carousels[0].ImageSrc)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Carousels[0].ImageAlt)</th>
                <th class="col-sm-3">@Html.DisplayNameFor(model => model.Carousels[0].CarouselContent)</th>
                <th class="col-sm-1">Edit</th>
                <th class="col-sm-1">Delete</th>
            </tr>
            @{ foreach (var p in Model.Carousels)
                {
                    <tr>
                        <td class="col-sm-1">@p.ID</td>
                        <td class="col-sm-2">@p.DataTarget</td>
                        <td class="col-sm-2">@p.ImageSrc</td>
                        <td class="col-sm-2">@p.ImageAlt</td>
                        <td class="col-sm-3">@p.CarouselContent.</td>
                        <th class="col-sm-1"><a asp-action="Edit" asp-route-ID="@p.ID">Edit</a></th>
                        <th class="col-sm-1"><a asp-action="Delete" asp-route-ID="@p.ID" onclick="return ConfirmDlete();">Delete</a></th>
                    </tr>
                }
            }

        </table>
    }
    else
    {
        <h2>Carousel is empty.</h2>
    }
}

@section Scripts
{
    <script src="~/js/script.js"></script>
}